.lk-recupera-senha{
    text-decoration: none;
    color: #1e1e1e;
}

.lk-recupera-senha:hover{
    color: #ff0000;
}

.btn-home{
    width: 36px;
}

.text-error{
    /*margin-bottom: 10px;*/
    background: #303030;
    color: #fa7373;
    text-align: center;
    font-size: 12px;
    border-radius: 20px;
    padding: 10px;
}

#form-login{
    max-width: 310px;
    border: none;
}